<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjectJEEAout2024Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- FILTERS -->
  <filter>
	<filter-name>LoginFilter</filter-name>
	<filter-class>be.jossart.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>ManageAccountServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>CreateIngredientRecipeStepNumberServlet</servlet-name>
  </filter-mapping>		
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>CreateRecipeServlet</servlet-name>
  </filter-mapping>	
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>ChangeRecipeServlet</servlet-name>
  </filter-mapping>	
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>RemoveRecipeServlet</servlet-name>
  </filter-mapping>	
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>ConsultOwnRecipeServlet</servlet-name>
  </filter-mapping>
  
  <!-- SERVLETS -->
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignInServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchRecipeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.SearchRecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecipeDetailsServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.RecipeDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageAccountServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.ManageAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateIngredientRecipeStepNumberServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.CreateIngredientRecipeStepNumberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateRecipeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.CreateRecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeRecipeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.ChangeRecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveRecipeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.RemoveRecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultOwnRecipeServlet</servlet-name>
  	<servlet-class>be.jossart.servlets.ConsultOwnRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  	<url-pattern>/HomeServlet</url-pattern>
  	<url-pattern>/home</url-pattern>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignInServlet</servlet-name>
  	<url-pattern>/SignInServlet</url-pattern>
  	<url-pattern>/signin</url-pattern>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInServlet</servlet-name>
  	<url-pattern>/LogInServlet</url-pattern>
  	<url-pattern>/login</url-pattern>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAccountServlet</servlet-name>
  	<url-pattern>/ManageAccountServlet</url-pattern>
  	<url-pattern>/manageaccountservlet</url-pattern>
  	<url-pattern>/ManageAccount</url-pattern>
  	<url-pattern>/manageaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  	<url-pattern>/logout</url-pattern>
  	<url-pattern>/Logout</url-pattern>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateIngredientRecipeStepNumberServlet</servlet-name>
  	<url-pattern>/CreateIngredientRecipeStepNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateRecipeServlet</servlet-name>
  	<url-pattern>/CreateRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConsultOwnRecipeServlet</servlet-name>
  	<url-pattern>/ConsultOwnRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeRecipeServlet</servlet-name>
  	<url-pattern>/ChangeRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveRecipeServlet</servlet-name>
  	<url-pattern>/RemoveRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchRecipeServlet</servlet-name>
  	<url-pattern>/SearchRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecipeDetailsServlet</servlet-name>
  	<url-pattern>/RecipeDetailsServlet</url-pattern>
  </servlet-mapping>	
</web-app>